

<a href='/places/new'>Create a new place</a> <br/>
<a href='/users/new'>Create a new user</a> <br/>
<a href='/alerts/new'>Create a new alert</a> <br/>


<h2> Places in LA </h2>

<table>
<% @places.each do |place| %>
<tr>
<td><%= link_to place.name, place %></td>


<% end %>


</table>